html {
  animation: slowpan 10s ease infinite;
  background: linear-gradient(-45deg, #8AFFFF, #8AC4FF, #8A8AFF, #C48AFF);
	background-size: 300% 300%;
  color: #FFFF;
  font-size: 150px;
  height: 100%;
  text-align: center;
  width: 100%;
}

@keyframes slowpan {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

body {
  animation: slowpan 200s ease infinite;
  background-image: url(assets/background.jpg);
  background-size: 120%;
  display: flex;
  height: 100%;
  opacity: 0.7;
  width: 100%;
}

.player-area{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  height: 100%;
  width:20%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
}

.turn-display {
  height: 20%;
  text-align: center;
  width: 100%;
}

.game-board {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 80%;
  padding: 20px;
  Width: 100%;
}

.square {
  border: 5px solid;
  font-size: 150px;
  height: 32%;
  text-align: center;
  width: 32%;
}

p {
  font-size: 90px;
}

.win-counter {
  font-size: 120;
}
